@media (min-width:1000px) {
    .card {
        max-width: 500px !important;
        justify-content: center;
    }
}

.formBorders{
    border: 3px solid #0d6efd;
    padding: 1rem
}

input:hover{
    background-color: #d0e2ff;
}

.sections{
background-color:#d0e2ff;
}

.card:hover{
    background-color:#d0e2ff;
}

.abel-regular {
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.titles {
    font-size: 175%;
    background-color:#d0e2ff;
}